<ion-view view-title="Administration">

  <ion-content class="padding">

    <ion-list>

      <ion-toggle ng-model="settings.enableContact">
        <strong>Activer Administration</strong>
      </ion-toggle>

      <ion-item>
        <!--MT -->
        <button class="button button-full button-raised button-positive ink icon-left ion-android-person-add"
                ng-click="importContacts()"
                ng-disabled="isDisabledImport()">
          {{buttonImportText}}
        </button>
      </ion-item>

      <ion-item>
        <button class="button button-full button-raised button-positive ink icon-left ion-ios-trash-outline"
                ng-click="removeContacts()"
                ng-disabled="isDisabledDelete()">
          {{buttonDeleteText}}
        </button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
