<ion-view view-title="Synthèse">
  <ion-content class="padding">

    <div class="list card">

      <div class="item item-divider">
        <i class="icon ion-ios-person"></i> Les Adhérents ASM Badminton
      </div>

      <div class="item item-body">

        <div ng-if="countContactsASM===0">Aucun adhérent dans les contacts</div>
        <div ng-if="countContactsASM > 0"><b>{{countContactsASM}}</b> adhérents ASM Badminton ont été trouvés dans les contacts !</div>

      </div>

    </div>

    <div class="list card">

      <div class="item item-divider"><i class="icon ion-ios-paw"></i> Les membres du bureau</div>
      <div class="item item-body">
        <div ng-if="membersASM.length===0">Aucun membre du bureau dans les contacts</div>
        <div ng-if="membersASM.length > 0">
          <p>
            <b>{{membersASM.length}}</b> membres du bureau :
            <span ng-repeat="aMember in filteredMembersASM = (membersASM | orderBy:name.givenName)">{{aMember.name.givenName}} </span>
          </p>
        </div>
      </div>
    </div>

    <div class="list card" ng-if="countContactsASM !==0 && statsASM && statsASM.cptH !== 0">

      <div class="item item-divider"><i class="icon ion-stats-bars"></i> Quelques Statistiques</div>
      <div class="item item-body">

        <div>
          <ion-list>
            <ion-item>
              <i class="icon ion-male"></i> {{ pourcentH }}% - <i class="icon ion-female"></i> {{ pourcentF }}%
            </ion-item>
            <ion-item>
              <i class="icon ion-trophy"></i>  {{ pourcentC }}% - <i class="icon ion-tshirt"></i> {{ pourcentL }}%
            </ion-item>
            <ion-item>
              <ul>
                <li><i class="icon ion-android-happy"></i> {{statsASM.categorie["Minibad"]}} <strong>Minibad(s)</strong></li>
                <li><i class="icon ion-egg"></i> {{statsASM.categorie["Poussin"]}} <strong>Poussin(s)</strong></li>
                <li><i class="icon ion-social-reddit-outline"></i> {{statsASM.categorie["Benjamin 1"] + statsASM.categorie["Benjamin 2"]}} <strong>Benjamin(s)</strong></li>
                <li><i class="icon ion-ios-game-controller-a"></i> {{statsASM.categorie["Minime 1"] + statsASM.categorie["Minime 2"]}} <strong>Minime(s)</strong></li>
              </ul>
            </ion-item>
            <ion-item>
              <ul>
                <li><i class="icon ion-ios-game-controller-b"></i>  {{statsASM.categorie["Junior 1"] + statsASM.categorie["Junior 2"]}} <strong>Junior(s)</strong></li>
                <li><i class="icon ion-pizza"></i>  {{statsASM.categorie["Cadet 1"] + statsASM.categorie["Cadet 2"]}} <strong>Cadet(s)</strong></li>
                <li><i class="icon ion-beer"></i> {{statsASM.categorie["Senior"]}} <strong>Senior(s)</strong></li>
              </ul>
            </ion-item>
            <ion-item>
              <ul>
                <li><i class="icon ion-ios-wineglass"></i> {{statsASM.categorie["Veteran 1"] + statsASM.categorie["Veteran 2"] + statsASM.categorie["Veteran 3"] + statsASM.categorie["Veteran 4"] + statsASM.categorie["Veteran 5"]}} <strong>Vétéran(s)</strong></li>
              </ul>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
