<ion-view view-title="Administration">

  <ion-content class="padding">

    <ion-list>

      <ion-toggle ng-model="settings.enableContact">
        Activer Administration
      </ion-toggle>

      <ion-item>
        <!--MT -->
        <button class="button button-block button-positive icon-left ion-android-person-add"
                ng-click="importContacts()"
                ng-disabled="isDisabledImport()">
          Importer les contacts ASM
        </button>
      </ion-item>

      <ion-item>
        <button class="button button-block icon-left ion-ios-trash-outline button-positive"
                ng-click="removeContacts()"
                ng-disabled="isDisabledDelete()">
          Supprimer les contacts ASM
        </button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
