<ion-view view-title="Sms" hide-nav-bar="false">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-gear" ng-click="showParameterModal()">
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">

    <ion-list show-delete="false" show-reorder="false" can-swipe="false">

      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="form.isBureau" ng-disabled="countContactsASM===0"
                 ng-click="changeAdherentStateIfIsMember()">
        </label>Bureau ({{membersASM.length}})
      </li>

      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="form.isMinibad" ng-disabled="countContactsASM===0"
                 ng-click="changeAdherentStateIfIsMinibad()">
        </label>Minibad ({{countMinibadASM}})
      </li>

      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="form.isAdherent" ng-disabled="countContactsASM===0"
                 ng-click="changeBureauState()">
        </label>
        Adhérents ({{countContactsASM}})
      </li>

      <div class="item item-assertive text-center" ng-if="!networkOnLine">
        <strong>Absence de réseau !</strong>
      </div>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Message SMS <i>({{form.message.length}}/{{SMS_THRESHOLD}})</i></span>
          <textarea ng-model="form.message" type="text" rows="4"
                    placeholder="Corps du message à envoyer par SMS"
                    ng-model-options="{ allowInvalid: true }"
                    ng-maxlength="255" maxlength="255"></textarea>
      </label>

      <div class="item">
        <button ng-disabled="isButtonDisabled()" ng-click="sendSMS()"
                class="button button-block button-positive">Envoyer le SMS <i class="icon ion-android-textsms"></i>
        </button>
      </div>

    </ion-list>


  </ion-content>
</ion-view>
