<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <!--script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script-->
  <!--script src="lib/ionic-material-design-lite/dist/js/ionic.material-design-lite.bundle.js"></script-->
  <!-- cordova script (this will be a 404 during development) -->
  <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
  <script src="cordova.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</head>
<body ng-app="starter">
<ion-pane>
  <ion-header-bar class="bar-assertive">
    <div class="buttons">
      <button class="button">Left</button>
    </div>
    <div class="title">Bienvenue</div>
    <div class="buttons">
      <button class="button">Right</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-list show-reorder="true" show-delete="true"
              can-swipe="true">
      <div class="item item-divider">
        2014
      </div>
      <ion-item class="item-icon-left">
        <i class="icon ion-document"></i> Bulletin Volant Décembre
        <ion-option-button class="button-positive" ng-click="">Share</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="">Edit</ion-option-button>
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder=""></ion-reorder-button>
      </ion-item>
      <div class="item item-divider">
        2015
      </div>
      <ion-item class="item-remove-animate item-icon-left" type="item-text-wrap">
        <i class="icon ion-document"></i> Bulletin Volant Janvier
        <ion-option-button class="button-positive" ng-click="">Share</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="">Edit</ion-option-button>
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder=""></ion-reorder-button>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-document"></i> Bulletin Volant Février
        <ion-option-button class="button-positive" ng-click="">Share</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="">Edit</ion-option-button>
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder=""></ion-reorder-button>

      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-document"></i> Bulletin Volant Mars
        <ion-option-button class="button-positive" ng-click="">Share</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="">Edit</ion-option-button>
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder=""></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>

    <ion-footer-bar class="bar-assertive">
      <div class="title">ASM Badminton</div>
    </ion-footer-bar>

</ion-pane>


</body>
</html>
