/* Empty. Add your own CSS if you like */

@media screen and (max-height:350px) {

  .force-footer-bar-heigth {
    display: none;
    width: 0%;
  }
}

.force-vertical-align {
  vertical-align: middle !important;
}

.item-stacked-label textarea {
  border-bottom-style: solid;
  border-bottom-color: #387ef5;
}

.force-footer-bar-heigth {
  height: 110px !important;
  color: white;
}

.force-footer-bar-heigth.expanded{
  font-size: 80%;
}

.menu-open .force-footer-bar-heigth.expanded{
  background-color: #11c1f3;
}
.menu .avatar {
  height: 88px;
  width: 88px;
}

.menu h2 {
  bottom: 0;
  font-size: 18px;
  left: 16px;
  position: absolute;
  color: white;
}

.menu-open .bar.bar-header.expanded {
  background-color: #11c1f3;
}
.menu-open .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
  content: "\f2ca";
}

.menu .bar.bar-header.expanded {
  transition: all .5s ease-in-out;
}
